#hit {
  display: none;
  margin-top: 30px;
  margin-bottom: 30px;
}

#hold {
  display: none;
  margin-top: 30px;
  margin-bottom: 30px;
}

#results .solo {
  display: none;
}

#results .double {
  display: none;
}

#again {
  display: none;
}

.myTurn {
  background-color: #ffc689;
  border-radius: 5px;
}
